.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Courier New";
    -fx-background: #FFFFFF;
}

.menu-item .label {
    -fx-text-fill: black;
    -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: darkgray;
}